{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<p>Search our list to find all of St. Thomas' students</p>

<hr />

<div class="">
    <a class="btn btn-primary btn-foundation" href="#">Batch Classification</a>
    <a class="btn btn-primary btn-foundation" href="#">Your Circles</a>
    <a class="btn btn-primary btn-foundation" href="#">Distinguished Alumni</a>
    <a class="btn btn-primary btn-foundation" href="#">Complete Listing</a>
</div>

<hr />

<div class="row">
    {% for batch in batches %}
        <a class="batch-link col-lg-2 col-md-3 col-sm-12" href="/alumni/batch/{{batch}}/">{{ batch }}</a>
    {% endfor %}
</div>

{% endblock %}