{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<p>Give back a to your school and to quality education of people in our country.</p>
<hr />

<div class="row">
    <h3 class="col-sm-8">Help better education around you and contribute to a worthy cause.</h3>
    <div class="col-sm-4"><a class="btn btn-success btn-lg"><h4>Make a Donation</h4></a></div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <h3>Other ways you can contribute:</h3>
        <h4><a href="#">Volunteer to teach the less privileged.</a></h4>
        <h4><a href="#">Share your experiences with our students.</a></h4>
        <h4><a href="#">Organize sessions for Special Education.</a></h4>
        <h4><a href="#">Help us develop our Laboratories.</a></h4>
    </div>
</div>

{% endblock %}