{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<div class="col-md-6">
    <h3>Alumni Association</h3>

    <address>
        National Antihacking Group<br />
        Near Shehjanand Chowk, Harmu<br />
        Ranchi.<br />
        <abbr title="Phone">Ph. No.:</abbr>
        0651.2241408
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:contactus@stthomasalumni.org">ContactUs@stthomasalumni.org</a><br />
        <strong>Developers:</strong> <a href="mailto:AnimeshSinha1309@gmail.com">AnimeshSinha1309@gmail.com</a>
    </address>
</div>

<div class="col-md-6">
    <h3>St. Thomas School   </h3>

    <address>
        St. Thomas School<br />
        Sector-3, Dhurwa<br />
        Ranchi.<br />
        <abbr title="Phone">Ph. No.:</abbr>
        0651.2241408
    </address>

    <address>
        <strong>Office:</strong> <a href="mailto:contactus@stthomasalumni.org">ContactUs@stthomasalumni.org</a><br />
        <strong>Principal:</strong> <a href="mailto:AnimeshSinha1309@gmail.com">AnimeshSinha1309@gmail.com</a>
    </address>
</div>

{% endblock %}
