{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>St. Thomas Alumni</h1>
    <p class="lead">St. Thomas Alumni Association, Ranchi (STAR) is a privately organized alumni association
    working together with the school to keep all Friends in close and development friendly networks</p>
    <p><a href="https://www.stthomasschoolranchi.com/" class="btn btn-primary btn-large" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.djangoproject.com" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Heroku Hosting</h2>
        <p>Django is easy to use and freely hosted, never worry about servers, virtual environments and the such.</p>
        <p><a class="btn btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Python Tools for Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
