{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<div style="padding: 30px;">
    <div class="row">
        <div class="col-md-4">
            <img src="/media/{{data.picture}}" height="200" width="200" class="img-circle" />
            <h2>{{ data.user.first_name }} {{ data.user.last_name }}</h2>
            <a href="/actions/befriend/{{ data.user.username }}" class="btn btn-primary">Add to Friends List</a>
        </div>
        <div class="col-md-8">
            <div class="profile-item">
                <strong>Email Address: </strong>{{ data.user.email }}
            </div>
            <div class="profile-item">
                <strong>Works as: </strong>{{ data.jobtitle }}, {{ data.workplace }}
            </div>
            <div class="profile-item">
                <strong>Passed out of the school</strong> in {{ data.batch }}
             </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        {% for friend in friends %}
            <a class="col-md-2 col-sm-3 col-xs-6" style="padding: 10px 0px;" 
                    href="/profile/{{ friend.friend.user.username }}">
                <img src="/media/{{ friend.friend.picture }}" class="img-circle" height="100" width="100"
                        title="{{ friend.friend.user.first_name }} {{ friend.friend.user.last_name }}" 
                        data-toggle="tooltip" data-placement="top" />
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script> $(function () { $('[data-toggle="tooltip"]').tooltip() }) </script>
{% endblock %}