{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="row">
    <div class="col-md-4">
        <img src="/media/{{data.picture}}" height="200" width="200" class="img-circle" />
        <h2>{{ data.user.first_name }} {{ data.user.last_name }}.</h2>
    </div>
    <div class="col-md-8">
        <div>{{ data.user.email }}</div>
        <div>{{ data.jobtitle }}, {{ data.workplace }}</div>
        <div>{{ data.batch }}</div>
        <div><a></a></div>
    </div>
</div>

{% endblock %}