{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<h2>{{ title }}.</h2>
<p>Use this area to provide additional information.</p>

<hr />

<h3>Our Expanding Horizons</h3>
<p class="font-large">
    Our thoughts and capabilities keep growing, and so does the school. Every day of every year, we
    strive to make better education available to more and more people, and today we have a great big
    school as a reward for all our efforts. <br />
    St. Thomas today comprises of about 3800 students and 150 teachers along with 35 staff members,
    currently in the school, not to mention the thousands of alumni and ex-faculty still a very integral
    part of the community. The school has grown much in size and infrastructure, and presents better
    facilities to its students and teachers for easier and more effective education, including digital
    learning, well furnished hands on labs and extensive libraries.<br/>
    In our pursuit to make education available to all, we have expanded out to a branch, St. Thomas
    Hardag, a community funded school for the poor. We hope that the extension will soo pick up pace
    and be able to provide high quality education to those who had far too much brains but not the 
    resources to get it. <br />
</p>

<div class="row" style="background-color: #333333; margin: 30px;">
    <div id="carousel-home" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-home" data-slide-to="1"></li>
            <li data-target="#carousel-home" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="text-center">
                    <img width="1000" height="500" src="{% static 'app/images/gallery/demo/demohome1.jpg' %}" alt="School">
                </div>
                <div class="carousel-caption">
                    <h3>The School Today</h3>
                    <strong>We have grown quite a lot, come see!</strong> 
                </div>
            </div>
            <div class="item">
                <div class="text-center">
                    <img width="1000" height="500" src="{% static 'app/images/gallery/demo/demohome2.jpg' %}" alt="School">
                </div>
                <div class="carousel-caption">
                    <h3>The School Today</h3>
                    <strong>We have grown quite a lot, come see!</strong> 
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<hr />

<h3>The Principal's Desk</h3>
<p class="font-large text-justify">
    Welcome to St. Thomas School, Ranchi, a premier educational institutions in the capital of Jharkhand,
    India. With the principal motive of all-round development of each of its students, this school has been 
    fulfilling its motto - "Formation of Good, Effective & Creative Citizens" for over 41 years. St 
    Thomasians have made their mark all over the world, and changed it for the betting in every field.
    St. Thomas School, established in 1972 by Marthoma Educational Society, Bihar (Ranchi) of the Mar 
    Thoma Syrian Church, Ranchi, is <strong>Committed to Excellence</strong>.  We do aim to model
    curriculum that enables children to find their voices, nurture their curiosity to do stuff,
    to ask questions and to pursue investigations, sharing and integrating their experiences with school 
    knowledge, rather than solely rely on ability to reproduce textual knowledge.
    Join hands with the St. Thomas fraternity, identify with us in pushing the boundaries of education 
    to establish a a better future for our children.<br />

    <a href="http://www.stthomasschoolranchi.com" target="_blank">
        Know more about the School, Visit our Website
    </a>
</p>

<div class="row">
    <!-- Meant for some images as collage, good display, but later -->
</div>


{% endblock %}