{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<h2>{{ title }}.</h2>

<div class="container">
    <div class="row team-committee">
        <h4>Alumni Association Committee Members</h4>
        <div class="col-sm-4"><img src="{% static 'app/images/defaultavatar.png' %}" class="img-circle" /></div>
        <div class="col-sm-4"><img src="{% static 'app/images/defaultavatar.png' %}" class="img-circle" /></div>
        <div class="col-sm-4"><img src="{% static 'app/images/defaultavatar.png' %}" class="img-circle" /></div>
    </div>
    <div class="row team-developers">
        <h4>Development and Taskforce</h4>
        <div class="col-sm-4"><img src="{% static 'app/images/defaultavatar.png' %}" class="img-circle" /></div>
        <div class="col-sm-4"><img src="{% static 'app/images/defaultavatar.png' %}" class="img-circle" /></div>
        <div class="col-sm-4"><img src="{% static 'app/images/defaultavatar.png' %}" class="img-circle" /></div>
    </div>
    
</div>

{% endblock %}
